

  <div class="container-fluid" data-aos="fade" data-aos-delay="500">
    <div class="swiper-container images-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3">{{playlists.items.1.name}}</h2>
                  <a href="single.html" class="btn btn-outline-white py-2 px-4">{{playlists.items.1.description}}</a>
                </div>
                <img src="{{playlists.items.1.images.0.url}}" alt="Image" height="500" width="600">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3">{{playlists.items.[0].name}}</h2>
                  <a href="single.html" class="btn btn-outline-white py-2 px-4">{{playlists.items.[0].description}}</a>
                </div>
                <img src="{{playlists.items.[0].images.0.url}}" alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3">{{playlists.items.[2].name}}</h2>
                  <a href="single.html" class="btn btn-outline-white py-2 px-4">{{playlists.items.[2].description}}</a>
                </div>
                <img src="{{playlists.items.[2].images.0.url}}" alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3">{{playlists.items.[3].name}}</h2>
                  <a href="single.html" class="btn btn-outline-white py-2 px-4">{{playlists.items.[3].description}}</a>
                </div>
                <img src="{{playlists.items.[3].images.0.url}}" alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3">{{playlists.items.[4].name}}</h2>
                  <a href="single.html" class="btn btn-outline-white py-2 px-4">{{playlists.items.[4].description}}</a>
                </div>
                <img src="{{playlists.items.[4].images.0.url}}" alt="Image">
              </div>
            </div>
         
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
  </div>

  <div class="footer py-4">
    <div class="container-fluid">
      <p style="font-size:8px">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>

    

    
    
  </div>

